/* fontface */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$displayFont: 'Montserrat', cursive;
$textFont: 'Roboto', Helvetica, sans-serif;
