@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
meta[name='viewport']::before {
  content: 'phone'; }

/* fontface */
/* reset */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0; }

*::before,
*::after {
  box-sizing: inherit; }

*:active,
*:hover {
  outline: 0; }

html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  position: relative;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

b, i, em, strong,
h1, h2, h3, h4, h5, h6,
th, td, pre, ins, del, address,
input, select, button, textarea {
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  letter-spacing: inherit; }

a, ins, del, button {
  color: inherit;
  text-decoration: none; }

ul, ol,
menu {
  list-style: none; }

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; }

pre,
textarea {
  overflow: auto;
  max-width: 100%; }

img {
  display: inline-block;
  line-height: 0; }

svg:not(:root) {
  overflow: hidden; }

form {
  width: 100%; }

button {
  cursor: pointer;
  overflow: visible; }

textarea {
  resize: none; }

::moz-focus-inner {
  padding: 0;
  border: none; }

body {
  position: relative;
  color: black;
  background: #111; }
  body p {
    line-height: 1.45; }

.navigation {
  height: 60px;
  width: 100%;
  font-family: "Montserrat", cursive;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.25rem; }
  .navigation__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navigation__nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation__nav ul li {
      padding: 0 10px; }
      .navigation__nav ul li a {
        width: 100%;
        height: 100%; }
  .navigation a {
    transition: .3s color ease; }

.wrapper, .navigation__wrapper, .main__wrapper, .footer .footer__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 100%; }

.header {
  height: 400px;
  width: 100%;
  background-image: url("../../Images/bg2.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__avatar {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    background-image: url("../../Images/avatar.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5); }
  .header__mainTitle {
    margin-top: 16px;
    border-left: 4px solid white;
    padding-left: 5px;
    color: white;
    font-family: "Montserrat", cursive;
    font-size: 1rem; }

.main {
  color: #ededed;
  background-color: #111; }
  .main__wrapper {
    max-width: 768px;
    padding-top: 64px;
    padding-bottom: 64px; }
  .main__subHeading {
    font-size: 1.125rem;
    font-family: "Roboto", Helvetica, sans-serif;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: bold; }
  .main__section {
    background-color: rgba(50, 50, 50, 0.3);
    padding: 16px;
    border-radius: 4px; }
    .main__section + .main__section {
      margin-top: 32px; }
    .main__section p {
      font-size: 1rem;
      font-family: "Roboto", Helvetica, sans-serif; }
  .main__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main__col-6 {
    width: calc(50% - 8px); }
  .main__icon {
    transition: .3s color ease;
    color: #777;
    margin-bottom: 16px; }
  .main__separator {
    width: 50px;
    height: 3px;
    display: block;
    background: white;
    margin-top: 16px;
    margin-bottom: 16px; }

.footer {
  text-align: center;
  color: #777;
  background: #181818;
  font-family: "Montserrat", cursive; }
  .footer .footer__wrapper {
    padding-top: 96px;
    padding-bottom: 64px; }
  @media only screen and (min-width: 46em){
  meta[name='viewport']::before{
    content: 'tablet'; } }
  @media only screen and (min-width: 64.0625em){
  meta[name='viewport']::before{
    content: 'desktop'; }
  .navigation a:hover{
    color: #999; }
  .header a{
    transition: .3s color ease; }
  .header a:hover{
    color: #999; }
  .main{
    -webkit-clip-path: polygon(0 32px, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 32px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -32px; }
  .main__section a{
    transition: .3s color ease; }
  .main__section a:hover{
    color: #999; }
  .main__section:hover .main__icon{
    color: white; }
  .footer{
    -webkit-clip-path: polygon(0 32px, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 32px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -32px; }
  .footer a{
    transition: .3s color ease; }
  .footer a:hover{
    color: #999; } }
  @media only screen and (min-width: 100em){
  meta[name='viewport']::before{
    content: 'monitor'; } }
  @media only screen and (max-width: 45.9375em){
  .wrapper, .navigation__wrapper, .main__wrapper, .footer .footer__wrapper{
    padding-left: 8px;
    padding-right: 8px; } }
  @media only screen and (max-width: 64em){
  .main__wrapper{
    padding-left: 0;
    padding-right: 0;
    width: 100%; } }
