.footer {
  text-align: center;
  color: #777;
  background: #181818;
  font-family: $displayFont;

  @media (--desktop) {
    clip-path: polygon(0 32px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -32px;
  }

  .footer__wrapper {
    @extend .wrapper;
    padding-top: 96px;
    padding-bottom: 64px;
  }

  @media (--desktop) {
    a {
      transition: .3s color ease;
    }
    a:hover {
      color: #999;
    }
  }
}
