.header {
  height: 400px;
  width: 100%;
  background-image: url('../../Images/bg2.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  // background: linear-gradient(45deg, $turquoise, #42bcf4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__avatar {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    background-image: url('../../Images/avatar.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: 0 0 100px 0 rgba(0,0,0,0.5);
  }

  &__mainTitle {
    margin-top: 16px;
    border-left: 4px solid white;
    padding-left: 5px;
    color: white;
    font-family: $displayFont;
    font-size: 16px;
  }

  @media (--desktop) {
    a {
      transition: .3s color ease;

      &:hover {
        color: #999;
      }
    }
  }
}
