.main {
  color: #ededed;
  background-color: #111;

  @media (--desktop) {
    clip-path: polygon(0 32px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -32px;
  }

  &__wrapper {
    @extend .wrapper;
    max-width: 768px;
    padding-top: 64px;
    padding-bottom: 64px;

    @media (--mobile) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  &__subHeading {
    font-size: 18px;
    font-family: $textFont;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__section {
    background-color: rgba(50,50,50,0.3);
    padding: 16px;
    border-radius: 4px;

    &+.main__section {
      margin-top: 32px;
    }

    p {
      font-size: 16px;
      font-family: $textFont;
    }

    @media (--desktop) {
      a {
        transition: .3s color ease;
      }
      a:hover {
        color: #999;
      }

      &:hover .main__icon {
        color: white;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col-6 {
    width: calc(50% - 8px);
  }

  &__icon {
    transition: .3s color ease;
    color: #777;
    margin-bottom: 16px;
  }

  &__separator {
    width: 50px;
    height: 3px;
    display: block;
    background: white;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
