.navigation {
  height: 60px;
  width: 100%;
  font-family: $displayFont;
  position: absolute;
  top: 0; left: 0;
  color: white;
  font-size: 20px;

  &__wrapper {
    @extend .wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        padding: 0 10px;

        a {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  a {
    transition: .3s color ease;
    @media (--desktop) {
      &:hover {
        color: #999;
      }
    }
  }
}
