.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 100%;

  @media (--phone) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
